header{
  color: blue;
  font-size: 30px;
  background-color: yellow;
  border: 1px dashed red;
  display: inline;
}

span{
  color:green;
  display: block;
}

.span2{
  color: red;
}

#span123{
  color: blue;
}

/* a[title=a_title]{
  color: green;
} */

body > .grand_son{
  color: blueviolet;
}

a:visited{
  color: red;
}
a::after {
  content: "→";
}

.inline-block :hover{
  height: 100px;
}